<div ng-controller="MainCtrl" layout="column" ng-cloak>
<md-toolbar color="md-accent">
    <div class="md-toolbar-tools">
      <h3 class=" flex md-truncate">
        <span>TCS Chat</span>
      </h3>
       <md-button class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="images/more_vert.svg"></md-icon>
        </md-button>
    </div>

</md-toolbar>
<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="CALLS">
       <md-content class="md-padding">
        <md-list flex>
          <md-list-item class="md-20line" ng-repeat="call in callList">
            <img  ng-src="{{call.avatar}}" class="md-avatar" />
            <div class="md-list-item-text">
                  <h3>{{call.number}}</h3>
                  <p>{{call.time}}</p>
                  <span class="md-secondary"> <img  ng-src="{{call.type}}" class="md-avatar" /></span>
            </div>
          </md-list-item>
        </md-list>
       </md-content>
  </md-tab>
  <md-tab label="CHAT">
       <md-content class="md-padding">
          <md-list flex>
            <md-list-item class="md-2-line" ng-repeat="item in chatList">
               <img ng-src="{{item.avatar}}" class="md-avatar" />
                <div class="md-list-item-text">
                  <h3>{{item.title}}</h3>
                  <p>{{item.message}}</p>
                  <span class="md-secondary"> {{item.time}}</span>
                </div>
            </md-list-item>
          </md-list>
       </md-content>
       </md-tab>
   <md-tab label="CONTACT">
        <md-content class="md-padding">
        <md-list flex>
          <md-list-item class="md-2-line" ng-repeat="person in contactList">
            <img ng-src="{{person.avatar}}" class="md-avatar" />
            <div class="md-list-item-text">
              <h3>{{person.name}}</h3>
              <p>{{person.number}}</p>
            </div>
          </md-list-item>
        </md-list>
       </md-content>
   </md-tab>
</md-tabs>
</div>